.projects-page{

  padding:60px 20px;

  text-align:center;

}



/* GRID */

.project-grid{

  margin-top:40px;

  display:grid;

  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

  gap:28px;

}



/* CARD */

.project-card{

  padding:30px;

  text-align:left;

}

.project-card h3{

  font-size:20px;

  margin-bottom:10px;

}

.project-card p{

  font-size:15px;

  margin-bottom:20px;

}



.project-card button{

  padding:10px 22px;

  border:none;

  border-radius:30px;

  background:var(--accent);

  font-weight:500;

  cursor:pointer;

  transition:all .25s ease;

}

.project-card button:hover{

  transform:translateY(-2px);

  box-shadow:0 8px 20px rgba(0,0,0,0.18);

}